@mixin font-dpr($font-size) {
    font-size: $font-size * 1px;
    [data-dpr='2'] & {
        font-size: $font-size * 1px;
    }
    // for mx3
    [data-dpr='2.5'] & {
        font-size: round($font-size * 2.5 / 2) * 1px;
    }
    // for 小米note
    [data-dpr='2.75'] & {
        font-size: round($font-size * 2.75 / 2) * 1px;
    }
    [data-dpr='3'] & {
        font-size: round($font-size * 3 / 2) * 1px;
    }
    // for 三星note4
    [data-dpr='4'] & {
        font-size: $font-size * 2px;
    }
}
