@import './reset.scss';
@import './vant.scss';
/deep/ .refresh-wrap {
    //刷新图标
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -15px;
    transform: translate3d(0, -120px, 0);
    transition: all 1s linear;
    z-index: 2000;
    .svg-icon {
        width: 40px;
        height: 40px;
        line-height: 40px;
        border-radius: 50%;
        text-align: center;
        background-color: #fff;
    }
}
