//刷新指令所在的类
.refresh-animation-wrap {
    -webkit-overflow-scrolling: touch;
    overflow-y: hidden;
}
.refresh-wrap {
    //刷新图标
    position: absolute;
    top: -60px;
    left: 50%;
    width: 60px;
    height: 60px;
    margin-left: -15px;
    transition: all 0.5s linear;
    z-index: 9;
    .svg-icon {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        line-height: 40px;
        border-radius: 50%;
        text-align: center;
        background-color: #fff;
        font-size: 14px;
        &.active {
            //刷新动画
            $an1: (
                transform: rotate(360deg)
            );
            $an2: (
                transform: rotate(1080deg)
            );
            $rotate: (
                0%: $an1,
                100%: $an2
            );
            @include keyframes(rotate, $rotate);
            @include animation(rotate 3s);
            transform-origin: center;
        }
        &.static {
            $an1: (
                transform: rotate(0deg)
            );
            $an2: (
                transform: rotate(720deg)
            );
            $rotate: (
                0%: $an1,
                100%: $an2
            );
            @include keyframes(rotate, $rotate);
            @include animation(rotate 1s);
            transform-origin: center;
        }
    }
}
// 点击的水波纹
.style {
    $an1: (
        background-color: rgba(191, 191, 191, 0)
    );
    $an2: (
        transform: scale(3),
        background-color: rgba(191, 191, 191, 0.4)
    );
    $an3: (
        transform: scale(6),
        background-color: rgba(191, 191, 191, 0.8)
    );
    $an4: (
        transform: scale(8),
        background-color: rgba(191, 191, 191, 0.4)
    );
    $an5: (
        transform: scale(10),
        background-color: rgba(191, 191, 191, 0)
    );
    $feedback: (
        0%: $an1,
        25%: $an2,
        50%: $an3,
        75%: $an4,
        100%: $an5
    );
    @include keyframes(feedback, $feedback);
    @include animation(feedback 0.4s);
    animation-fill-mode: forwards;
    transform-origin: center;
}
.touch-feedback {
    // 改类需手动添加到容器上
    // 水波纹的包裹容器
    position: relative;
    overflow: hidden;
    &:before {
        display: block;
        content: '';
        width: 30px;
        height: 30px;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale(0.5);
        z-index: 10;
    }
    &:active {
        &:before {
            @extend .style;
        }
    }
    &.click-active {
        &:before {
            @extend .style;
        }
    }
}
.home-left-swipe-enter {
    transform: translate(100%);
}
.home-left-swipe-enter-active {
    transition: all 0.2s ease;
}
.home-left-swipe-leave-active {
    transform: translate(-100%);
    transition: all 0.2s ease;
}
.home-right-swipe-enter {
    transform: translate(-100%);
}
.home-right-swipe-active {
    transition: all 0.2s ease;
}
.home-right-swipe-leave-active {
    transform: translate(100%);
    transition: all 0.2s ease;
}
