/*
*右滑页面
*/
.fade-in-right-enter {
    transform: translate3d(100%, 0, 0);
}
.fade-in-right-enter-active {
    transition: all 0.3s linear;
}
.fade-in-right-leave-to {
    @extend .fade-in-right-enter;
}
.fade-in-right-leave-active {
    @extend .fade-in-right-enter-active;
}

//从上往下渐现
.drop-down-enter {
    opacity: 0;
}
.drop-down-enter-active {
    transition: all 0.3s;
}
.drop-down-leave-to {
    @extend .drop-down-enter;
}
.drop-down-leave-active {
    @extend .drop-down-enter-active;
}
