// $dpr:[data-dpr];
$dpr:1;
@function px2px($name, $px) {
$name: round($px / 2) * 1px;
@if $dpr==2 {
    $name:$px * 1px;
} @else if $dpr ==2.5 { // for mx3
    $name:round($px * 2.5/2) * 1px;
} @else if $dpr ==2.75 { // for 小米note
    $name:round($px*2.75/2) * 1px;
} @else if $dpr==3 {
    $name:round($px/2*3) * 1px;
} @else if $dpr==4 { // for 三星note4
    $name:$px * 2px;
}
}
