//蒙层菜单样式
.a-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0 0 15px 15px;
    li {
        width: calc(675px / 4);
        height: 56px;
        margin: 15px 15px 0 0;
        line-height: 56px;
        text-align: center;
        color: #999;
        border: 1px solid #eee;
        border-radius: 6px;
        font-size: 30px;
        &.active {
            color: #ec0022;
            border-color: #ec0022;
        }
    }
}
